
PLIVO_AUTH_ID=
PLIVO_AUTH_TOKEN=



MONGODB_URI=mongodb://localhost:27017
MONGODB_DB_NAME=mantra_voice_agent

REDIS_URL=redis://localhost:6379



VOICE_MODE=gemini_realtime
GEMINI_API_KEY=AIzaSyA8uqHUsi5brfiDZYntnHCJzAOI0YHzm-Q
GEMINI_VOICE_NAME=Erinome
GEMINI_LANGUAGE=en-US
